<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="movie" class="com.stackroute.springs.bean.Movie" autowire="byName">

    </bean>


    <bean id="actor1" class="com.stackroute.springs.bean.Actor" scope="prototype">
        <constructor-arg name="name" value="Shahru Khan"/>
        <constructor-arg name="gender" value="male"/>
        <constructor-arg name="age" value="40"/>
    </bean>

    <bean id="actor2" class="com.stackroute.springs.bean.Actor" scope="prototype">
        <constructor-arg name="name" value="Amir Khan"/>
        <constructor-arg name="gender" value="male"/>
        <constructor-arg name="age" value="45"/>
    </bean>

    <bean id="actor3" class="com.stackroute.springs.bean.Actor" scope="prototype">
        <constructor-arg name="name" value="Kajol"/>
        <constructor-arg name="gender" value="female"/>
        <constructor-arg name="age" value="40"/>
    </bean>


</beans>